In [577]:
##### import
import os
import shutil

import numpy as np
import pandas as pd

In [578]:
def pricing(x):
    if x >= 0 and x < 500000:
        return "low"
    elif x >= 500000 and x < 1000000:
        return "medium"
    else: ### x >= 1000000
        return "high"

In [579]:
##### dataset
modified = pd.read_csv("../data/modified_data.csv")
modified.head()

,image_id,street,city,city_code,bed,bath,sqft,price
0,0,1317 Van Buren Avenue,"Salton City, CA",317,3,2.0,1560,201900
1,1,124 C Street W,"Brawley, CA",48,3,2.0,713,228500
2,2,2304 Clark Road,"Imperial, CA",152,3,1.0,800,273950
3,3,755 Brawley Avenue,"Brawley, CA",48,3,1.0,1082,350000
4,4,2207 R Carrillo Court,"Calexico, CA",55,4,3.0,2547,385100

In [580]:
##### copy dataset
data = modified.copy()
#data.shape

In [581]:
##### set price range
data['price_range'] = data['price'].apply(pricing)
data

,image_id,street,city,city_code,bed,bath,sqft,price,price_range
0,0,1317 Van Buren Avenue,"Salton City, CA",317,3,2.0,1560,201900,low
1,1,124 C Street W,"Brawley, CA",48,3,2.0,713,228500,low
2,2,2304 Clark Road,"Imperial, CA",152,3,1.0,800,273950,low
3,3,755 Brawley Avenue,"Brawley, CA",48,3,1.0,1082,350000,low
4,4,2207 R Carrillo Court,"Calexico, CA",55,4,3.0,2547,385100,low
...,...,...,...,...,...,...,...,...,...
15469,15469,4156 Sterlingview Drive,"Moorpark, CA",227,5,4.1,4092,949000,medium
15470,15470,4355 Avenida Prado,"Thousand Oaks, CA",372,5,3.0,2773,949900,medium
15471,15471,12717 Koenigstein Rd Road,"Santa Paula, CA",338,3,2.0,1576,920000,medium
15472,15472,36 Kunkle Street,"Oak View, CA",253,4,2.0,2086,997000,medium
15473,15473,4562 Eastbourne Bay,"Oxnard, CA",261,2,2.0,1216,975000,medium

In [582]:
#print(len(data[data['price_range']=='low']))
#print(len(data[data['price_range']=='medium']))
#print(len(data[data['price_range']=='high']))

In [583]:
##### set labels
data['label'] = data['price_range']
data['label'] = data['label'].apply(lambda x: 0 if x=='low' else x)
data['label'] = data['label'].apply(lambda x: 1 if x=='medium' else x)
data['label'] = data['label'].apply(lambda x: 2 if x=='high' else x)
data

,image_id,street,city,city_code,bed,bath,sqft,price,price_range,label
0,0,1317 Van Buren Avenue,"Salton City, CA",317,3,2.0,1560,201900,low,0
1,1,124 C Street W,"Brawley, CA",48,3,2.0,713,228500,low,0
2,2,2304 Clark Road,"Imperial, CA",152,3,1.0,800,273950,low,0
3,3,755 Brawley Avenue,"Brawley, CA",48,3,1.0,1082,350000,low,0
4,4,2207 R Carrillo Court,"Calexico, CA",55,4,3.0,2547,385100,low,0
...,...,...,...,...,...,...,...,...,...,...
15469,15469,4156 Sterlingview Drive,"Moorpark, CA",227,5,4.1,4092,949000,medium,1
15470,15470,4355 Avenida Prado,"Thousand Oaks, CA",372,5,3.0,2773,949900,medium,1
15471,15471,12717 Koenigstein Rd Road,"Santa Paula, CA",338,3,2.0,1576,920000,medium,1
15472,15472,36 Kunkle Street,"Oak View, CA",253,4,2.0,2086,997000,medium,1
15473,15473,4562 Eastbourne Bay,"Oxnard, CA",261,2,2.0,1216,975000,medium,1

In [584]:
#print(len(data[data['label']==0]))
#print(len(data[data['label']==1]))
#print(len(data[data['label']==2]))

In [585]:
#### y, dependant variable
y= data["label"].tolist()
dependent = pd.DataFrame()
dependent['image_id'] = data['image_id']
dependent['label'] = data['label']

In [586]:
##### make folders
directory = ['train', 'test', 'validation']
for d in directory:
    if not os.path.exists(os.path.join("../image2/", d)):
        os.makedirs(os.path.join("../image2/", d))
    
folders = ['class0', 'class1', 'class2']
for f in folders:
    if not os.path.exists(os.path.join("../image2/train", f)):
        os.makedirs(os.path.join("../image2/train", f))
    if not os.path.exists(os.path.join("../image2/test", f)):
        os.makedirs(os.path.join("../image2/test", f))    
    if not os.path.exists(os.path.join("../image2/validation", f)):
        os.makedirs(os.path.join("../image2/validation", f))

In [587]:
##### load images
col_dir = '../image/*.jpg'
col = imread_collection(col_dir) ### create a collection of images

In [588]:
allFileNames = os.listdir('../image')
np.random.seed(10)
np.random.shuffle(allFileNames)
#print(allFileNames)
val_ratio = 0.1
test_ratio = 0.2

val_FileNames, test_FileNames, train_FileNames = np.split(np.array(allFileNames), [int(len(allFileNames)*val_ratio), int(len(allFileNames)*val_ratio + len(allFileNames)*test_ratio)])
#print(len(train_FileNames))
#print(len(val_FileNames))
#print(len(test_FileNames))

In [589]:
#print(len(data[data['label']==0]))
#print(len(data[data['label']==1]))
#print(len(data[data['label']==2]))

In [598]:
train=[]
for i in range(len(train_FileNames)):
    t = int(train_FileNames[i][:-4])
    train.append(int(t))
#print(train_FileNames)
#print(train)

test=[]
for i in range(len(test_FileNames)):
    t = test_FileNames[i][:-4]
    test.append(int(t))
#print(test_FileNames)
#print(test)

validation=[]
for i in range(len(val_FileNames)):
    t = val_FileNames[i][:-4]
    validation.append(int(t))
#print(val_FileNames)
#print(validation)
#print(dependent)

In [591]:
##### move images to train, validation, and test folders
directory_ = r'../image'
for filename in os.listdir(directory_):
    index = int(filename[:-4])

    if filename.endswith(".jpg") and filename in train_FileNames:
        if index in train:
            if dependent['image_id'][index] == index and dependent['label'][index] == 0:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/train/class0/", filename))
            elif dependent['image_id'][index] == index and dependent['label'][index] == 1:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/train/class1/", filename))            
            elif dependent['image_id'][index] == index and dependent['label'][index] == 2:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/train/class2/", filename))     
                
    elif filename.endswith(".jpg") and filename in val_FileNames:
        if index in validation:
            if dependent['image_id'][index] == index and dependent['label'][index] == 0:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/validation/class0/", filename))
            elif dependent['image_id'][index] == index and dependent['label'][index] == 1:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/validation/class1/", filename))            
            elif dependent['image_id'][index] == index and dependent['label'][index] == 2:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/validation/class2/", filename))  

    elif filename.endswith(".jpg") and filename in test_FileNames:
        if index in test:
            if dependent['image_id'][index] == index and dependent['label'][index] == 0:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/test/class0/", filename))
            elif dependent['image_id'][index] == index and dependent['label'][index] == 1:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/test/class1/", filename))            
            elif dependent['image_id'][index] == index and dependent['label'][index] == 2:
                shutil.copy(os.path.join("../image/", filename), os.path.join("../image2/test/class2/", filename))

In [592]:
data.to_csv("../data/labeled_data.csv", index = False)